In [1]:
import numpy as np

In [9]:


# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

In [ ]:
print()

In [15]:
def max_employment(country,employment) :
    max_country = None
    max_employment = 0
    for i in range(len(countries)):
        country = countries[i]
        country_employment = employment[i]
        
        if country_employment > max_employment:
            max_country = country
            max_employment = country_employment
    return (max_country,max_employment)

In [16]:
print(max_employment(countries,employment))

('Angola', 75.699996949999999)

# OR A SIMPLER VERSION

In [19]:
def high_employment(country, employment):
    i  = employment.argmax()
    
    #.max() will tell the maximum value
    #".argmax() will tell the position where the highest value occur4
    return (country[i],employment[i])

In [20]:
print(high_employment(countries,employment))

('Angola', 75.699996949999999)